.show-alumni{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid gray;
}
@media only screen and (max-width: 600px) {
    .show-alumni {
        /* display: block; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
  }